body{
    background-color: rgb(236, 215, 186);
    font-family: 'Times New Roman', Times, serif;
}
header{
    color: #000000;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.356);
}
footer{
    text-align: center;
    color: #000000;
    font-style: italic;
}




.textinho{
    left: 40v;
    text-align: center;
    position: absolute;
    
}

.input{
    left: 40px;
    position: relative;
    margin-left: 20px;
}